[Unit]
Description=Gluster REST Service
After=syslog.target network.target glusterd

[Service]
Type=simple
ExecStart=glusterrestd
ExecReload=/bin/kill -SIGUSR1 $MAINPID
Restart=on-failure
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
